.header {
    background: url("../../img/Layer16.jpg") center top no-repeat #000;
    background-size: cover;
}

.header__wrap {
    padding-bottom: 65px;
}

.header__top {
    display: grid;
    grid-template-columns: 224px 1fr;
    grid-column-gap: 20px;
    padding-top: 40px;
    align-items: center;
}

.header__info {
    margin-top: 16.6%;
    margin-bottom: 16.6%;
}

.header__title {
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 36px;
    text-align: center;
    font-weight: normal;
    cursor: default;
}

.header__text {
    text-align: center;
}

.header__link {
    font-size: 30px;
    line-height: 75px;
    color: #f84545;
    font-weight: 800;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 12px;
    transition-duration: 500ms;
    transition-property: letter-spacing;
}

.header__link:hover {
    letter-spacing: 15px;
}

.header__btn {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 84px;
    height: 42px;
    cursor: pointer;
}

.header__arrow{
    max-width: 100%;
}
