.menu__list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.menu__item {
    font-size: 18px;
    color: #fff;
    line-height: 40px;
    letter-spacing: 7px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 65px;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__link {
    text-decoration: none;
    color: #fff;
    transition-property: color;
    transition-duration: 300ms;
}

.menu__link:hover, .menu__link:active, .menu__link:focus {
    color: #f84545;
}
